{% extends "products_items/base.html" %}



{% block content  %}
    
                       
                            <div class="col-md-11">
                                      
                            <div class="row row-cols-1 row-cols-md-5 g-4">
                               
                                  
                               
                                {% for product in page_obj %}
                                
                            
                                <div class="col">
                               
                                        <div class="discount-placeholder">
                                            {% if product.discount.active %}
                                            <p class="discount-label">-{{ product.discount.amount }}%</p>
                                            {% endif %}
                                        </div>
                                    
                                    <div class="card">
                                        
                                        <div style="position: relative; display: inline-block;">
                                            <a class=" d-flex justify-content-end mt-2 me-2"   style="position: absolute; top: 10px; right: 10px;" >
                                                <svg width="20" class="icon-heart" data-product-id="{{product.id}}"  height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" id="item-like">
                                                    <path d="M8 2.74805L7.28325 2.01133C5.5989 0.280067 2.51415 0.877695 1.40036 3.05284C0.876534 4.07583 0.75875 5.55246 1.71429 7.43758C2.63457 9.25313 4.54767 11.4265 8 13.7946C11.4523 11.4265 13.3654 9.25313 14.2857 7.43758C15.2413 5.55246 15.1235 4.07583 14.5996 3.05284C13.4859 0.877695 10.4011 0.280067 8.71675 2.01133L8 2.74805ZM8 15C-7.33313 4.86841 3.27876 -3.04087 7.82432 1.14308C7.88395 1.19797 7.94253 1.25493 8 1.314C8.05747 1.25494 8.11605 1.19797 8.17567 1.14309C12.7212 -3.04088 23.3331 4.8684 8 15Z" fill="black"/>
                                                    </svg>
                                                    
                                            </a>

                                              

                                            <a href="{% url 'shop:product-detail' product.slug %}" >
                                                
                                                <img src="{{product.image.url}}" class="card-img-top img-thumbnail" alt="Product Image">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            
                                            <a href="{% url 'shop:product-detail' product.slug %}" class="title-link">
                                                
                                                <h5 class="card-title">{{product.title}}</h5>
                                            </a>
                                           
                                            {% if product.discount.active %}
                                            <h5>{{ product.final_price|floatformat:"2" }} €</h5>
                                            <s>{{product.price}}€</s>
                             
                                            {% else %}
                                            <h5>{{product.price}}€</h5>
                                        {% endif %}
                                                    
                                        {% if product.quantity ==  0 %}
                                            <span class="text-secondary">Not available</span>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                {% endfor %}
                            </div>
                            <nav aria-label="...">
                                <ul class="pagination">
                                  <!-- Кнопка "Previous" -->
                                  <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                    <a class="page-link" {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>Previous</a>
                                  </li>
                              
                                  <!-- Номера страниц -->
                                  {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == num %}active{% endif %}" aria-current="page">
                                      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                  {% endfor %}
                              
                                   <!-- Кнопка "Next" -->
                                  <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                    <a class="page-link" {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Next</a>
                                  </li>
                                </ul>
                              </nav>
                              

                        </div>
                
{% endblock %}
