
<footer class="footer">
    <div class="container-fluid">
        <div class="footer-content">
            <div class="footer-column">
                <h3>about Us</h3>
                <p>We sell the best and highest quality: <br>electronic cigarettes, snus, vapes and tobacco products</p>
            </div>
            <div class="footer-column">
                <h3>connect with us</h3>
                <ul>
                    <li>Email: vapeshop@gmail.com</li>
                    <li>Телефон: +380930562413</li>
                </ul>   
            </div>
            <div class="footer-column">
                <h3>social media</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>